:root {
    --backgroundColor-nav: rgb(10, 162, 213);
    --backgroundColor-nav-hover: rgb(7, 142, 187);
    --backgroundColor-nav-burger: rgba(244, 244, 235);
}
footer{
    margin-top: 0.7rem;
    padding: 0.5rem;
    min-height:4rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--backgroundColor-nav);
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 1px 1px rgb(4, 50, 66);
}
.derechos > i{
    margin-right: 4px;
    opacity: 0.7;
}
.derechos{
    text-align: center;
    font-weight: 700;
}
.span_social{
    display: block;
    text-align: center;
}
.social-links{
    text-align: center;
}
.social-link{
    transition: text-decoration 0.5s;
}
.social-link:hover > i{
    color: white;
}
/*color iconos sociales*/
.fa-brands{
    font-size: 1.7rem;
    margin-top: 10px;
    color: black;
}
@media (min-width: 1280px) {
    .footer{
        padding: 5px 20px;
        justify-content: space-between;
        flex-direction: row;
    }
    .fa-brands{
        font-size: 2rem;
    }
}