body{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-areas:
        "header"
        "aside1"
        "aside2"
        "aside3"
        "main"
        "footer";
}
.header{
    grid-area: header;
}
.aside{
    justify-self: center;
}
.aside:first-child{
    grid-area: aside1;
}
.aside:nth-child(2){
    grid-area: aside2;
}
.aside:last-child{
    grid-area: aside3;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
/* peliculas de inicio  */
.aside{
    margin: 5px;
}
.aside__card{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    min-width: 270px;
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
    margin: 0.3rem;
    position: relative;
    display: flex;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 10px rgba(1, 252, 244, 0.744);
}
.aside__card-img{
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}
.aside__card-content{
    opacity: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
    margin: 0.4rem;
    top: 20%;
    color: rgb(255, 255, 255);
    position: absolute;
    transition: opacity 800ms;
}
.aside__card-title{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgb(255, 245, 245);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px 4px 10px rgb(0, 0, 0);
    font-weight: 700;
    transition: opacity 800ms;
}
.aside__card:hover > .aside__card-link >.aside__card-img{
    opacity: .3;
    transform: scale(1.2);
    
}
.aside__card:hover > .aside__card-title{
    opacity: 0;
}
.aside__card:hover > .aside__card-content {
    opacity: 1;
}
.aside__card-information{
    display: flex;
    align-self: center;
    gap: 15px;
    margin-bottom: 16px;
}
.aside__card-description{
    padding: 3px;
    text-align: center;
    border: 1px solid rgb(168, 165, 165);
    border-radius: 3px;
}
.aside__card-description:first-child{
    color: rgb(92, 246, 10);
}
.aside__card-description:nth-child(2){
    color: rgb(237, 206, 4);
}
.aside__card-description:last-child{
    color: rgba(255, 0, 0, 0.508);
}
.aside__card-summary{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin:0px 12px;
    overflow: hidden;
    
}
.aside__card-button{
    color: white;
    margin-top: 0.8rem;
    padding:5px 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(39, 2, 89);
    box-shadow: -2px -2px  rgb(154, 154, 154);
}
.aside__card-button:hover{
    animation: hover_animation 0.4s forwards;
}

@keyframes hover_animation{
    0%{
    }
    100%{
        transform: translate(-2px,-2px);
        box-shadow: 0px 0px rgb(154, 154, 154);
        background-color: rgba(221, 18, 187, 0.742);
    }
}

/*estilo poster de peliculas*/
.section{
    color: white;
    display: flex;
    flex-direction: column;
}
.section__title{
    margin-bottom: 0.8rem;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px 4px rgba(255, 0, 0, 0.496);
}
.popular{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.4rem;
    align-items: center;
    padding: 1rem 1rem;
    width: 100vw;
    overflow: hidden;
    overflow-x: auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 140px;
    height: 260px;
}
.card__img{
    overflow: hidden;;
    width: 100%;
    height: 70%;  
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px rgba(59, 255, 5, 0.605);
    border-radius:10px;
}
.card__img-poster{
    height: 100%;
    width: 100%;
}
.card__title{
    margin-top: 5px;
    text-align: center;
}
.card:hover > .card__img{
    animation: escalePelicula 500ms ease-in-out forwards;
}
.card:hover > .card__title{
    animation: translateTitle 500ms ease-in-out forwards;
}
.section__spam{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.card__spam{
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    border-style: ridge;
    border: 1px ridge rgb(64, 220, 16);
    border-radius: 20px;
}
.card__content{
    position: relative;
    align-self: center;
    text-align: left;
    font-size: 1.5rem;
    
}
.button{
    overflow: hidden;;
    position: relative;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.button::before{
    content: attr(contenido);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(195, 195, 195, 0.251),rgba(4, 255, 33, 0.428) 100%);
    display: grid;
    place-items: center;
    transform: translate(-105%);
    transition: transform.25s;
}
.button:hover::before{
    transform: none;
}
.button__span{
    display: grid;
    place-items: center;
    text-align: center;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #ff00bf70;
    transition: transform 0.25s;
}
.button:hover .button__span{
    transform: translateX(105%);
}

@keyframes escalePelicula{
    0%{

    }
    100%{
        transform: scale(1.1);
    }
}
@keyframes translateTitle{
    0%{

    }
    100%{
        transform: translate(0px, 10px);
    }
}
@media (min-width: 768px){
    body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
            "header header"
            "aside1 aside2"
            "aside1 aside2"
            "aside3 aside3"
            "main main"
            "footer footer";
    } 
}
@media (min-width:1280px){
    body{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            "header header header"
            "aside1 aside2 aside3"
            "aside1 aside2 aside3"
            "aside1 aside2 aside3"
            "main main main"
            "footer footer footer";
    } 
}